<a href="https://colab.research.google.com/github/Monisha09-ds/-/blob/main/Python_Basics(KN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNCTIONS:**

In [1]:
def welcome():
  return ("Welcomne to the world of functions using Python")

welcome()

'Welcomne to the world of functions using Python'

In [2]:
def welcome():
  return "Welcome to the world of functions using Python"

welcome()

'Welcomne to the world of functions using Python'

In [9]:
def welcome():
  """
   DES= Practicing the use of Functions

   Return = Functions
  """


  return "Welcome to the functions with Krish naik"

print(welcome() + "Plz Subscribe")

Welcome to the functions with Krish naikPlz Subscribe

*Parameterized Functions*

In [13]:
def para_Function(a,b):
  # a= int(input("Enter the first num : "))
  # b= int(input("Enter the first num : "))

  sum=a+b;
  sub=a-b;
  mul=a*b;
  po=a**b;
  div=a%b;

  return sum,sub,mul,po,div;

a= int(input("Enter the first num : "))
b= int(input("Enter the first num : "))

para_Function(a,b)

Enter the first num : 4
Enter the first num : 2

(6, 2, 8, 16, 0)

In [22]:
def even_odd_sum(lst):
  even_sum=0;
  odd_sum=0;
  for i in (lst):
    if(i%2==0):
      even_sum+=i
    else:
      odd_sum+=i

    return even_sum,odd_sum

lst=list([1,2,3,45,6,677,7,8,8,54,4,3,5,6])
sum_e,sum_o=even_odd_sum(lst)
print(sum_e,sum_o)

0 1

**POsitional_arguement in Functions**

In [25]:
def hello(name,age):
  return ("Hello All," + " My name is " + name +" and I am " +str(age) + "years Old")

hello("krish",35)

'Hello All My name is krish and I am 35years Old'

In [29]:
def hello(*args,**kargs):
  print(args)
  print(kargs)

hello("Krish",age=35)

('Krish',)
{'age': 35}

In [33]:
def hello(*args,**kargs):
  print(args)
  print(kargs)
  # return ("Hello All," + " My name is " + *args +" and I am " +str(**kargs) + "years Old")
hello("Krish",age=35)

('Krish',)
{'age': 35}